/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea

# IDE Helper
_ide_helper.php

# BuildFiles
public/css
public/js
resources/assets/build

# docker data
.docker-sync
docker/db/data/*
docker/redis/data/*

# env
.env
.env.backup
.env_aws

!.gitkeep

