/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover-container {
  max-width: 42em;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*---------------------------------------
 news
---------------------------------------*/
.news {
  margin-top: 2rem;
  margin-bottom: 2rem;

  dd {
    margin: 2rem 0 0 0;

    ul {
      li {
        padding: 0 0 1rem 0;

        p {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span {
          margin: 0 1rem 0 0;
          color: #999;
          font-size: $font12px;
          display: inline-block;
        }
        a {
          font-size: $font12px;
          font-weight: bold;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    & {
      padding: 0 1rem 0 1rem;

      dd {
        ul li {
          margin: 0 0 0.7rem 0;
          padding: 0 0 0.7rem 0;
          border-bottom: dotted 1px $light-gray;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}
